menu "Air Data Systems"
    menuconfig COMMON_AIR_DATA_SYSTEM
        bool "Common air data systems"
        default n
        select DRIVERS_AIR_DATA_SYSTEM_NSL_ADU
        ---help---
            Enable default set of air data system drivers

    rsource "*/Kconfig"
endmenu
