menuconfig MODULES_MC_CUSTOM_CONTROL
	bool "mc_custom_control"
	default n
	---help---
		Enable support for mc_custom_control

menuconfig USER_MC_CUSTOM_CONTROL
	bool "mc_custom_control running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_MC_CUSTOM_CONTROL
	---help---
		Put mc_custom_control in userspace memory
